.header__container {
  display: flex;
  justify-content: space-between;
  height: 88px;
  padding: 0 16px;
  align-items: center;
  border-bottom: 1px solid #D9FFF5;
}
.body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  background-color: red;
}
